@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.eot");
  src: url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype"), url("../fonts/DMSans-Medium.svg#DMSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titan One";
  src: url("../fonts/TitanOne.eot");
  src: url("../fonts/TitanOne.eot?#iefix") format("embedded-opentype"), url("../fonts/TitanOne.woff2") format("woff2"), url("../fonts/TitanOne.woff") format("woff"), url("../fonts/TitanOne.ttf") format("truetype"), url("../fonts/TitanOne.svg#TitanOne") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype"), url("../fonts/DMSans-Regular.svg#DMSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.eot");
  src: url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.ttf") format("truetype"), url("../fonts/DMSans-Bold.svg#DMSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.body-fixed {
  overflow: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

*:focus-visible {
  outline: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 95vh;
  opacity: 0;
  background-color: #ffffff;
  color: #d41443;
  border: none;
  border-radius: 12px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal__window {
    width: 85vw;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 80vw;
    height: 85vh;
  }
}

.modal__window.is-open {
  opacity: 1;
}

.modal__btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border: 50%;
  color: #d41443;
  transform: rotate(0);
  transition: transform 400ms linear;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  transform: rotate(1turn);
}

.modal__icon {
  display: block;
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.section {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 279px) {
  .container {
    width: calc(100vw - 40px);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

.button-light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-light:hover, .button-light:focus {
  background-color: #ecebeb;
}

.button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #d41443;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms 250ms;
}
.button-dark:hover, .button-dark:focus {
  background-color: #c7133e;
}

.button-light__icon,
.button-dark__icon {
  width: 5px;
  height: 8px;
  fill: currentColor;
  margin-left: 12px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #d41443;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-btn:hover, .arrow-btn:focus {
  background-color: #d41443;
  color: #ffffff;
}

.arrow-btn__icon {
  display: block;
  width: 13px;
  height: 12px;
  fill: currentColor;
}

.overline {
  font-family: "Titan One", cursive;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.heading-h2 {
  font-family: "Titan One", cursive;
  font-size: 48px;
  line-height: 1.1458;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.section__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  padding: 0;
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .section__header {
    padding-top: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .section__header {
    padding-top: 37px;
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 120;
  display: none;
  width: 32px;
  height: 32px;
  color: #ffffff;
  background-color: #d41443;
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .link-arrow {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .link-arrow {
    width: 48px;
    height: 48px;
    bottom: 16px;
    right: 16px;
  }
}
.link-arrow:hover, .link-arrow:focus {
  transform: rotate(-45deg);
}

.icon-arrow {
  display: block;
  width: 18px;
  height: 21px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .icon-arrow {
    width: 25px;
    height: 30px;
  }
}

.link-arrow.is-visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  display: block;
  width: 199px;
  height: 50px;
}

.header__rightside {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

.navigation__menu {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  color: #ffffff;
}

.navigation__item + .navigation__item {
  margin-left: 35px;
}
.navigation__item:hover, .navigation__item:focus {
  color: #d41443;
}

.navigation__item--current {
  color: #d41443;
}

.navigation__link {
  color: inherit;
  padding: 14px 0;
}

.header__menu-btn {
  background-color: transparent;
  cursor: pointer;
}

.header__menu-mobile {
  display: block;
  width: 20px;
  height: 12px;
  flex-shrink: 0;
}
@media screen and (min-width: 1200px) {
  .header__menu-mobile {
    display: none;
  }
}

.header__menu-mobile.is-open {
  display: none;
}

.header__backdrop-menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__backdrop-menu.is-open {
  visibility: visible;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: 20;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  background-color: #e17992;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  transform: translateX(0);
  opacity: 0;
  transition: transform 400ms linear, opacity 400ms linear;
}

.header__menu.is-open {
  transform: translateX(-100%);
  opacity: 1;
}

.header__menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  display: block;
  width: 14px;
  height: 14px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-close:hover, .header__menu-close:focus {
  fill: #d41443;
}

.button-light--desktop {
  display: block;
  width: 160px;
  height: 44px;
}
@media screen and (max-width: 767px) {
  .button-light--desktop {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-light--desktop {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .button-light--desktop {
    margin-left: 141px;
  }
}

.button-light--menu {
  display: block;
  width: 209px;
  height: 44px;
  margin: 60px auto 19px;
}
@media screen and (min-width: 768px) {
  .button-light--menu {
    width: 186px;
  }
}

.navigation__header {
  text-align: left;
}

.navigation__item-mobile {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: #ffffff;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item-mobile:hover, .navigation__item-mobile:focus {
  color: #d41443;
}

.navigation__link-mobile {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: inherit;
}

.hero__section {
  position: relative;
  overflow: hidden;
  background-color: #ffb8ca;
  height: 502px;
}
@media screen and (min-width: 768px) {
  .hero__section {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    height: 664px;
  }
}

.hero__decoration-circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translate(36px, 5px);
  width: 346px;
  height: 346px;
  background-color: #fea5bb;
  border-radius: 50%;
}
@media screen and (min-width: 419px) {
  .hero__decoration-circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0, 2px);
  }
}
@media screen and (min-width: 768px) {
  .hero__decoration-circle {
    width: 335px;
    height: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(31px, 2px);
  }
}
@media screen and (min-width: 1200px) {
  .hero__decoration-circle {
    width: 534px;
    height: 534px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(184px, -11px);
  }
}

.hero__main-img {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 768px) {
  .hero__main-img {
    width: 143px;
    height: 336px;
    top: 38px;
    left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__main-img {
    width: 236px;
    height: 557px;
    top: 54px;
    left: 119px;
  }
}

.hero__left-overlay {
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translateX(calc(20px - 50vw));
  text-align: left;
}
@media screen and (min-width: 768px) {
  .hero__left-overlay {
    top: 102px;
    left: 50%;
    transform: translateX(-352px);
  }
}
@media screen and (min-width: 1200px) {
  .hero__left-overlay {
    top: 147px;
    left: 50%;
    transform: translateX(-584px);
  }
}

.hero__heading {
  display: block;
  font-size: 26px;
  line-height: 1.1538461538;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  width: 218px;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 22px;
    line-height: 1.1363636364;
    margin-bottom: 20px;
    width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 38px;
    line-height: 1.1578947368;
    margin-bottom: 24px;
    width: 277px;
  }
}

.hero__heading--accent {
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero__heading--accent {
    font-size: 34px;
    line-height: 0.905;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading--accent {
    font-size: 58px;
    line-height: 0.905;
  }
}

.hero__btnset {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 8px;
  font-weight: normal;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .hero__btnset {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btnset {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.hero__btnitem + .hero__btnitem {
  margin-left: 8px;
}

.hero__btnlink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;
  font-style: inherit;
  background-color: #d41443;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__btnlink {
    width: 107px;
    height: 40px;
  }
}
.hero__btnlink:hover, .hero__btnlink:focus {
  background-color: #c7133e;
}

.hero__btnlink--light {
  width: 82px;
  background-color: #ffffff;
  color: #d41443;
  border: none;
  border-radius: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__btnlink--light {
    width: 138px;
  }
}
.hero__btnlink--light:hover, .hero__btnlink--light:focus {
  background-color: #ecebeb;
}

.hero__milkbox {
  display: flex;
  justify-content: start;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .hero__milkbox {
    display: none;
  }
}

.hero__milk-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .hero__milk-img {
    display: block;
    width: 152px;
    height: 154px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__milk-img {
    width: 213px;
    height: 216px;
  }
}

.hero__milk-description {
  padding-top: 41px;
  font-size: 8;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__milk-description {
    font-size: 14px;
    line-height: 1.4;
    padding-top: 68px;
  }
}

.hero__milk-text {
  display: block;
  flex-shrink: 0;
  width: 114px;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .hero__milk-text {
    width: 200px;
    margin-bottom: 20px;
  }
}

.arrow-btn--for-hero {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 1200px) {
  .arrow-btn--for-hero {
    width: 26px;
    height: 26px;
  }
}

.arrow-btn__icon--for-hero {
  width: 6px;
  height: 5px;
}
@media screen and (min-width: 1200px) {
  .arrow-btn__icon--for-hero {
    width: 9px;
    height: 8px;
  }
}

.hero__right-overlay {
  position: absolute;
  top: 94px;
  right: 50%;
  transform: translateX(352px);
  text-align: right;
}
@media screen and (max-width: 767px) {
  .hero__right-overlay {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__right-overlay {
    top: 156px;
    right: 50%;
    transform: translateX(584px);
  }
}

.hero__counter-list {
  margin-bottom: 72px;
}
@media screen and (min-width: 1200px) {
  .hero__counter-list {
    margin-bottom: 109px;
  }
}

.hero__counter:first-child {
  margin-bottom: 13px;
}
@media screen and (min-width: 1200px) {
  .hero__counter:first-child {
    margin-bottom: 18px;
  }
}

.hero__numbers {
  position: relative;
  margin-bottom: 2px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.143;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .hero__numbers {
    font-size: 46px;
    line-height: 1.152;
  }
}
.hero__numbers::before {
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -6px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: "";
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__numbers::before {
    width: 30px;
    height: 30px;
  }
}

.hero__description {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__description {
    font-size: 14px;
    line-height: 1.1286;
  }
}

.hero__cta-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .hero__cta-img {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__cta-img {
    display: block;
    width: 190px;
    height: 150px;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__cta-img {
    width: 304px;
    height: 241px;
    margin-top: 103px;
  }
}

.product__custom {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .product__list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }
}

.product__title-block {
  margin-bottom: 148px;
}
@media screen and (min-width: 1200px) {
  .product__title-block {
    margin-bottom: 281px;
  }
}

.product__title-label {
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .product__title-label {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .product__title-label {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.product__title {
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .product__title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .product__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .product__list {
    display: flex;
    margin: -8px;
  }
}
@media screen and (min-width: 1200px) {
  .product__list {
    margin: -16px;
  }
}

.card-product {
  background-color: #ffb8ca;
  border-radius: 24px;
  width: 280px;
  padding-bottom: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .card-product {
    width: 224px;
    margin: 8px auto;
  }
}
@media screen and (min-width: 1200px) {
  .card-product {
    width: 368px;
    margin: 16px auto;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .card-product {
    margin-bottom: 140px;
  }
}

.card-product {
  margin-top: 140px;
  position: relative;
  padding-top: 160px;
  padding-bottom: 40px;
  background-color: #ffb8ca;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .card-product {
    flex-basis: calc((100% - 48px) / 3);
    margin: 8px;
    padding-top: 118px;
  }
}

.card-product--yellow {
  background-color: #f0d1a5;
}

.card-product--green {
  background-color: #c2e297;
}

.card-product__title {
  position: relative;
  padding-top: 160px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .card-product__title {
    padding-top: 110px;
  }
}
@media screen and (min-width: 1200px) {
  .card-product__title {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 165px;
  }
}

.card-product__title::before {
  content: "";
  position: absolute;
  bottom: 60;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  background-image: url(../images/mobile/products-cream-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .card-product__title::before {
    background-image: url(../images/mobile/products-cream-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card-product__title::before {
    width: 224px;
    height: 224px;
    background-image: url(../images/tablet/products-cream-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .card-product__title::before {
    background-image: url(../images/tablet/products-cream-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card-product__title::before {
    width: 368px;
    height: 368px;
    background-image: url(../images/desktop/products-cream-desktop.png);
    bottom: 80px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .card-product__title::before {
    background-image: url(../images/desktop/products-cream-desktop@2x.png);
  }
}

.card-product--yellow__title::before {
  background-image: url(../images/mobile/products-coffee-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .card-product--yellow__title::before {
    background-image: url(../images/mobile/products-coffee-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card-product--yellow__title::before {
    background-image: url(../images/tablet/products-coffee-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .card-product--yellow__title::before {
    background-image: url(../images/tablet/products-coffee-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card-product--yellow__title::before {
    background-image: url(../images/desktop/products-coffee-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .card-product--yellow__title::before {
    background-image: url(../images/desktop/products-coffee-desktop@2x.png);
  }
}

.card-product--green__title::before {
  background-image: url(../images/mobile/products-shake-mobile.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .card-product--green__title::before {
    background-image: url(../images/mobile/products-shake-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .card-product--green__title::before {
    background-image: url(../images/tablet/products-shake-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .card-product--green__title::before {
    background-image: url(../images/tablet/products-shake-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card-product--green__title::before {
    background-image: url(../images/desktop/products-shake-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .card-product--green__title::before {
    background-image: url(../images/desktop/products-shake-desktop@2x.png);
  }
}

.card-product__title::after {
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  border-bottom: 6px dotted #ffffff;
  margin: 32 auto;
}

.card-product__discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #ffffff;
  padding: 0 40px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .card-product__discription {
    padding: 0 32px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .card-product__discription {
    font-size: 16px;
    line-height: 1.76;
    padding: 0 64px;
    margin-bottom: 60px;
  }
}

.product__button {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.card-product__pre-icon {
  display: inline-block;
  text-align: center;
}

.about {
  padding-bottom: 0;
  background-color: #fff5f6;
  background-image: url(../images/mobile/about-milk-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 500px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/mobile/about-milk-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about {
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/desktop/about-milk-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 170px;
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/desktop/about-milk-desktop@2x.png);
  }
}

.about__pre-text {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.1666666667;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .about__pre-text {
    font-size: 26px;
    line-height: 1.1538461538;
  }
}
@media screen and (min-width: 1200px) {
  .about__pre-text {
    font-size: 30px;
    line-height: 1.1333333333;
  }
}

.about__title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.1458333333;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 48px;
    line-height: 1.1458333333;
    margin-bottom: 40px;
  }
}

.about-box {
  align-items: center;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-img {
  margin: 0 auto;
}

.about-box__content {
  text-align: start;
}
@media screen and (min-width: 768px) {
  .about-box__content {
    max-width: 334px;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-box__content {
    max-width: 463px;
    margin-left: 139px;
  }
}

.about-box__text {
  font-size: 12px;
  line-height: 1.5833333333;
  margin-bottom: 20px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about-box__text {
    font-size: 14px;
    line-height: 1.7857142857;
  }
}
@media screen and (min-width: 1200px) {
  .about-box__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about-box__text--after {
  font-size: 12px;
  line-height: 1.5833333333;
  margin-bottom: 20px;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .about-box__text--after {
    font-size: 14px;
    line-height: 1.7857142857;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about-box__text--after {
    line-height: 1.9285714286;
  }
}

.about__btn {
  min-width: 176px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .section--pictures {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#fff5f6 0%, #fff5f6 20%, #ffffff 20%, #ffffff 100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--pictures {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#fff5f6 0%, #fff5f6 57%, #ffffff 57%, #ffffff 100%);
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures {
    background-image: linear-gradient(#fff5f6 0%, #fff5f6 27%, #ffffff 27%, #ffffff 100%);
  }
}
@media screen and (max-width: 1199px) {
  .section--pictures .container--pictures {
    padding: 0;
    width: 100%;
  }
}
.section--pictures .gallery__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section--pictures .gallery__item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .section--pictures .gallery__item:not(:last-child) {
    margin-right: 2.53px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--pictures .gallery__item:not(:last-child) {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:not(:last-child) {
    margin-right: 8px;
  }
}
.section--pictures .gallery__item:nth-child(1) {
  top: 45px;
}
@media screen and (min-width: 768px) {
  .section--pictures .gallery__item:nth-child(1) {
    top: 109px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:nth-child(1) {
    top: 142px;
  }
}
.section--pictures .gallery__item:nth-child(2) {
  top: 28px;
}
@media screen and (min-width: 768px) {
  .section--pictures .gallery__item:nth-child(2) {
    top: 68px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:nth-child(2) {
    top: 89px;
  }
}
.section--pictures .gallery__item:nth-child(4) {
  top: 31px;
}
@media screen and (min-width: 768px) {
  .section--pictures .gallery__item:nth-child(4) {
    top: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:nth-child(4) {
    top: 99px;
  }
}
.section--pictures .gallery__item:nth-child(5) {
  top: 21px;
}
@media screen and (min-width: 768px) {
  .section--pictures .gallery__item:nth-child(5) {
    top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:nth-child(5) {
    top: 66px;
  }
}
.section--pictures .gallery__item:nth-child(6) {
  top: 49px;
}
@media screen and (min-width: 768px) {
  .section--pictures .gallery__item:nth-child(6) {
    top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__item:nth-child(6) {
    top: 155px;
  }
}
.section--pictures .gallery__img {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section--pictures .gallery__img:hover {
  position: relative;
  transform: scale(1.5);
  z-index: 2;
}
.section--pictures .gallery__pic {
  display: block;
}
@media screen and (max-width: 767px) {
  .section--pictures .gallery__pic:not(:nth-of-type(2n)) {
    margin-bottom: 2.53px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--pictures .gallery__pic:not(:nth-of-type(2n)) {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .section--pictures .gallery__pic:not(:nth-of-type(2n)) {
    margin-bottom: 8px;
  }
}

.section__advanteges {
  background-color: #fff5f6;
}
@media screen and (max-width: 767px) {
  .section__advanteges {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__advanteges {
    padding-top: 60px;
    padding-bottom: 64px;
  }
}

.advantages__container {
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
  }
}
.advantages__number {
  text-align: left;
  margin-bottom: 4px;
}
.advantages__text {
  font-family: "DM Sans";
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  text-align: start;
  width: 230px;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 180px;
  }
}

.advantages__item--glass {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages__item--glass {
    margin-bottom: 64px;
    margin-right: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item--glass {
    margin-bottom: 64px;
    margin-right: 115px;
  }
}
.advantages__item--glass::before {
  content: " ";
  width: 33px;
  height: 50px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url(/src/images/common/glass.png);
}

.advantages__item--apples {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages__item--apples {
    margin-right: 22px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item--apples {
    margin-bottom: 64px;
    margin-right: 80px;
  }
}
.advantages__item--apples::before {
  content: " ";
  width: 33px;
  height: 50px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url(/src/images/common/apples.png);
}

.advantages__item--heart {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__item--heart {
    margin-right: 96px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item--heart {
    margin-bottom: 64px;
    margin-right: 115px;
  }
}
.advantages__item--heart::before {
  content: " ";
  width: 33px;
  height: 50px;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-image: url(/src/images/common/heart.png);
}

.slider {
  margin: auto;
  min-height: 300px;
  margin: auto;
}

.slider__item_foto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.slider__item_text {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 30px 50px;
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .slider__item_text {
    max-width: 620px;
    padding: 30px 50px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__item_text {
    max-width: 950px;
    padding: 30px 80px;
  }
}

.slider__item_text-desc:first-child::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -30px;
  justify-content: center;
  text-align: center;
  width: 54px;
  height: 40px;
  background-size: contain;
  display: inline-block;
  background-image: url(../images/quotes.svg);
  opacity: 0.7;
  z-index: -11;
}

.slider__item_text-desc {
  position: relative;
  background-image: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 29px, #E1E1E1 29px, #E1E1E1 30px);
  justify-content: center;
  text-align: center;
  z-index: 22;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .slider__item_text-desc {
    font-size: 16px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .slider__item_text-desc {
    font-size: 14px;
    line-height: 2.2;
  }
}

.slider__item_author--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.slider__item--dot {
  content: "";
  width: 32px;
  height: 4px;
  text-align: center;
  background-size: contain;
  display: inline-block;
  background-image: url(../images/dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.slider__item_author {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
}

.contacts__section {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff5f6;
  background-image: linear-gradient(#ffffff 0%, #ffffff 24%, #fff5f6 24%, #fff5f6 100%);
}
@media screen and (min-width: 768px) {
  .contacts__section {
    background-image: linear-gradient(#ffffff 0%, #ffffff 46%, #fff5f6 46%, #fff5f6 100%);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__section {
    background-image: linear-gradient(#ffffff 0%, #ffffff 22%, #fff5f6 22%, #fff5f6 100%);
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.86;
  text-align: left;
  padding: 40px 32px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    font-size: 14px;
    margin-bottom: 20px;
    width: calc((100% - 96px) / 3);
    margin: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 16px;
    padding: 40px 40px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
}

.contacts__category {
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 6px;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .contacts__category {
    font-size: 16px;
  }
}
.contacts__category--bgcolor {
  background: #c2e297;
  width: 130px;
}

.contacts__title {
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}

.contacts__description {
  line-height: 1.5;
  color: #907e82;
}

.contacts__timetable {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__timetable {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__time:first-child {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__time:first-child {
    margin-bottom: 12px;
  }
}

.contacts__day-time {
  text-transform: uppercase;
  color: #ffa5ba;
}

.contacts__item-communication {
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts__btn-set {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__btn-item {
    margin-right: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__btn-item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__btn-item:last-child {
    margin-right: 0px;
  }
}

.contacts__btn {
  min-width: 161px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .contacts__btn {
    min-width: 191px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__btn {
    min-width: 198px;
  }
}

.contacts__button-icon {
  width: 8px;
  height: 10px;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  color: #d41443;
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__content {
  margin-bottom: 40px;
  width: 234px;
}
@media screen and (min-width: 1200px) {
  .footer__content {
    margin-bottom: 60px;
  }
}

.footer__subtitle {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    font-size: 26px;
    line-height: 1.1538461538;
    min-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    font-size: 30px;
    line-height: 1.1333333333;
    width: 474px;
  }
}

.footer__subtitle--append {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__subtitle--append {
    margin-bottom: 12px;
  }
}

.footer__text {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.1470588235;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 48px;
    line-height: 1.1458333333;
    letter-spacing: 0.06em;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    font-size: 58px;
    line-height: 1.1379310345;
    width: 500px;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: none;
  flex-direction: column;
}

.footer-social__list {
  display: flex;
  justify-content: flex-end;
  align-items: none;
  flex-direction: row;
  margin-bottom: 40px;
}

.footer-social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social__item:not(:last-child) {
  margin-right: 30px;
}

.footer-social__link {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: #ffa5ba;
  transition: fill 400ms linear;
}
.footer-social__link:hover, .footer-social__link:focus {
  fill: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-social__link {
    width: 34px;
    height: 34px;
  }
}

.footer-social__icon {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .footer-social__icon {
    width: 34px;
    height: 34px;
  }
}

.footer-contacts {
  margin-bottom: 40px;
}

.footer-contacts__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .footer-contacts__text {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts__text {
    font-size: 16px;
    line-height: 1.875;
  }
}

.footer-contacts__link {
  color: #d41443;
}

.footer-copy {
  border-top: 1px solid #e1e1e1;
}

.footer-copy__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 70px;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .footer-copy__text {
    line-height: 1.8571428571;
    padding: 8px;
  }
}/*# sourceMappingURL=index.css.map */