$fontMain: 'DM Sans';
$fontMainAlternative: sans-serif;
$fontSecondary: 'Titan One';
$fontSecondaryAlternative: cursive;
// colors
$colorMain: #d41443;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorOverline: #ffa5ba;
$colorDescription: #907e82;
$colorLineInContacts: #e1e1e1;
$colorBorderMenu: #e18298;
// backgroung colors
$bgPage: #ffffff;
$bgSection: #fff5f6;
$bgBtnDark: #d41443;
$bgBtnDarkHover: #c7133e;
$bgBtnLight: #ffffff;
$bgBtnLightHover: #ecebeb;
$bgQuotation: #fafafa;
$bgSocial: #fea5bb;
$bgHeaderHero: #ffb8ca;
$bgMenuMobile: #e17992;
$bgBackDrop: rgba(255, 184, 202, 0.6);
$bgColorBeige: #f0d1a5;
$bgColorGreen: #c2e297;

//

$paddingContainer: 16px;
$shadowMenuMobile: -8px 0px 20px rgba(0, 0, 0, 0.25);
$menuMobileWidth: 250px;
$menuMobileHeight: 502px;
$menuTabletWidth: 254px;
$menuTabletHeight: 100vh;

$durationPrimary: 250ms;
$durationSecondary: 400ms;
$timingPrimary: cubic-bezier(0.4, 0, 0.2, 1);
$timingSecondary: linear;
