<header id="header" class="section section__header" hero-header>
  <div class="container container__header">
    <a id="logo" href="./index.html" class="header__link">
      <svg class="header__logo">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <div class="header__rightside">
      <nav class="navigation">
        <ul class="navigation__menu">
          <li class="navigation__item navigation__item--current" data-menu-home>
            <a href="./index.html" class="navigation__link"> Home </a>
          </li>
          <li class="navigation__item" data-menu-about>
            <a href="#customers" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item" data-menu-how>
            <a href="#about" class="navigation__link">How it’s made?</a>
          </li>
          <li class="navigation__item" data-menu-our>
            <a href="#products" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item" data-menu-contact>
            <a href="#contacts" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>

      <button
        type="button"
        class="header__menu-btn"
        aria-expanded="false"
        aria-controls="menu"
        data-menu-button
      >
        <svg class="header__menu-mobile" aria-label="Mobile menu">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <button class="button-light button-light--desktop">
      Buy now
      <svg class="button-light__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
