<header class="section section__header">
  <div class="container container__header">
    <a href="/" class="header__link">
      <svg class="header__logo">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <div class="header__rightside">
      <nav class="navigation">
        <ul class="navigation__menu">
          <li class="navigation__item navigation__item--current">
            <a href="#" class="navigation__link"> Home </a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Contact</a>
          </li>
        </ul>
      </nav>

      <button
        type="button"
        class="header__menu-btn"
        aria-expanded="false"
        aria-controls="menu"
        data-menu-button
      >
        <svg class="header__menu-mobile" aria-label="Mobile menu">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>

      <div class="header__backdrop-menu" data-menu-backdrop>
        <div id="menu" class="header__menu" data-menu>
          <button type="button" class="header__menu-btn" data-menu-button-close>
            <svg class="header__menu-close" aria-label="Close button">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>

          <button class="button-light button-light--menu">
            Buy now
            <svg class="button-light__icon">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>

          <nav>
            <ul class="navigation__menu-mobile">
              <li
                class="navigation__item-mobile navigation__item-mobile--current"
              >
                <a href="#" class="navigation__link-mobile"> Home </a>
              </li>
              <li class="navigation__item-mobile">
                <a href="#" class="navigation__link-mobile">About us</a>
              </li>
              <li class="navigation__item-mobile">
                <a href="#" class="navigation__link-mobile">How it’s made?</a>
              </li>
              <li class="navigation__item-mobile">
                <a href="#" class="navigation__link-mobile">Our products</a>
              </li>
              <li class="navigation__item-mobile">
                <a href="#" class="navigation__link-mobile">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <button class="button-light button-light--desktop">
      Buy now
      <svg class="button-light__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
