<a href="#header" class="link-arrow">
  <svg class="icon-arrow">
    <use href="./images/icons.svg#icon-arrow-up"></use>
  </svg>
</a>
<div class="header__backdrop-menu" data-menu-backdrop>
  <div id="menu" class="header__menu" data-menu>
    <button type="button" class="header__menu-btn" data-menu-button-close>
      <svg class="header__menu-close" aria-label="Close button">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <button class="button-light button-light--menu">
      <a href="#contacts">Buy now</a>
      <svg class="button-light__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>

    <nav>
      <ul class="navigation__menu-mobile">
        <li class="navigation__item-mobile">
          <a href="./index.html" class="navigation__link-mobile"> Home </a>
        </li>
        <li class="navigation__item-mobile">
          <a href="#customers" class="navigation__link-mobile">About us</a>
        </li>
        <li class="navigation__item-mobile">
          <a href="#about" class="navigation__link-mobile">How it’s made?</a>
        </li>
        <li class="navigation__item-mobile">
          <a href="#products" class="navigation__link-mobile">Our products</a>
        </li>
        <li class="navigation__item-mobile">
          <a href="#contacts" class="navigation__link-mobile">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
