<div class="about__backdrop" data-modal-backdrop-about>
  <div class="about-modal__window">
    <button class="about-modal__btn-close" data-modal-close-about>
      <svg class="about-modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="about-box__text">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p class="about-box__text about-box__text--after">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.
    </p>
    <p class="about-box__text about-box__text--modal">
      Aliquam erat volutpat. Aenean accumsan.
    </p>
  </div>
</div>
