<div class="modal__backdrop" data-modal-map-backdrop>
  <div class="modal__window" data-modal-map>
    <button class="modal__btn-close" data-modal-map-button-close>
      <svg class="modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__map-wrap">
      <iframe
        class="modal__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10167.465355378507!2d30.5340837!3d50.4249619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1660424495626!5m2!1sru!2sua"
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
