<div class="franchise__backdrop" data-modal-backdrop-franchise>
  <div class="franchise-modal__window franchise-modal__window--centered">
    <button class="franchise-modal__btn-close" data-modal-close-franchise>
      <svg class="franchise-modal__icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="form-franchise" autocomplete="off">
      <h2 class="form-franchise__title heading-h2">work with us!!!</h2>
      <label for="user_name" class="visually-hidden">Name:</label>
      <input
        type="text"
        name="text"
        id="user_name"
        class="form-field__input form-field__input--append"
        required
        placeholder="Name"
      />
      <label for="user_tel" class="visually-hidden">Tel:</label>
      <input
        type="tel"
        name="tel"
        id="user_tel"
        class="form-field__input form-field__input--append"
        required
        placeholder="Tel"
      />
      <label for="user_email" class="visually-hidden">E-mail:</label>
      <input
        type="email"
        name="email"
        id="user_email"
        class="form-field__input"
        required
        placeholder="E-mail"
      />
      <button
        type="submit"
        class="button-dark form-franchise__button"
        data-modal-franchise-close
      >
        Submit
      </button>
    </form>
  </div>
</div>
