<section class="product section">
    <div class="container">
<span class="product__title-label overline">100% natural</span>
<h2 class="prdoct__title heading-h2">products</h2>

<div>
    <ul>
        <li class="card-product">
        <h3 class="card-product__title">ice cream</h3>
        <p class="card-product__dsicription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
         incididunt ut labore et</p>
        <svg class="card-product__icon" width="40px" height="40px">
        <use></use>
        </svg> 
        </li>
        <li></li>
        <li></li>
    </ul>
    
</div>
<div class="card-product">
    <h3 class="card-product__title">ice coffee</h3>
    <p class="card-product__dsicription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <svg>
        <use></use>
    </svg>
</div>
<div class="card-product">
    <h3 class="card-product__title">milkshakes</h3>
    <p class="card-product__dsicription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <svg class="card-product__icon" width="40" height="40">
        <use></use>
    </svg>
</div>
</div>
</section>