<section class="collage">
  <div class="container">
    <div class="collage__slider">
      <ul class="collage__list">
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="89.4" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
        <li class="collage__item">
          <picture>
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" media="" />
            <source srcset="#" type="" />
            <source srcset="#" type="" />
            <img class="" src="#" alt="" width="43.59" />
          </picture>
        </li>
      </ul>
      <div class="collage__review">
        <img srcset="#" alt="" />
        <p class="collage__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <h2 class="collage-subtitle">Emily, Los Angeles</h2>
      </div>
    </div>
  </div>
</section>
