<section id="products" class="section product">
  <div class="container product__custom">
    <div class="product__title-block">
      <b class="overline product__title-label">100% natural</b>
      <h2 class="heading-h2 product__title">products</h2>
    </div>
    <div class="product__area">
      <ul class="product__list">
        <li id="card" class="card-product">
          <div class="front">
            <h3 class="card-product__title">ice cream</h3>
            <p class="card-product__discription">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button class="arrow-btn product__button" type="button" id="flip">
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div>
          <!-- <div class="back">
            <h3
              class="card-product__title card-product__title--reddots red-text"
            >
              Ingredients
            </h3>
            <p class="card-product__discription red-text">
              Ice cream is comprised of a mixture of air, water, milkfat, nonfat
              milk solids (NMS) sweeteners, stabilizers, emulsifiers, and
              flavors
            </p>
            <button
              class="arrow-btn product__button back-flips"
              type="button"
              id="back-flip"
            >
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div> -->
        </li>
        <li id="yellowcard" class="card-product">
          <div class="front front--yellow">
            <h3 class="card-product__title card-product--yellow__title">
              ice coffee
            </h3>
            <p class="card-product__discription">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button
              class="arrow-btn product__button"
              type="button"
              id="yellowflip"
            >
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div>
          <!-- <div class="back">
            <h3
              class="card-product__title card-product--yellow__title card-product__title--yellowdots yellow-text"
            >
              Ingredients
            </h3>
            <p class="card-product__discription yellow-text">
              cup ice (or coffee frozen into cubes), 1 cup coffee, 2 tablespoons
              cream, milk, 1 to 2 teaspoons granulated white sugar or simple
              syrup,or canella
            </p>
            <button
              class="arrow-btn product__button back-flips"
              type="button"
              id="yellowback-flip"
            >
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div> -->
        </li>
        <li id="greencard" class="card-product">
          <div class="front front--green">
            <h3 class="card-product__title card-product--green__title">
              milkshakes
            </h3>
            <p class="card-product__discription">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button
              class="arrow-btn product__button"
              type="button"
              id="greenflip"
            >
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div>
          <!-- <div class="back">
            <h3
              class="card-product__title card-product--green__title card-product__title--greendots green-text"
            >
              Ingredients
            </h3>
            <p class="card-product__discription green-text">
              milk, ice cream, and flavorings or sweeteners such as
              butterscotch, caramel sauce, chocolate syrup, fruit syrup, or
              whole fruit, sweet, cold mixture
            </p>
            <button
              class="arrow-btn product__button back-flips"
              type="button"
              id="greenback-flip"
            >
              <svg class="arrow-btn__icon card-product__pre-icon">
                <use
                  class="card-product__icon"
                  href="./images/icons.svg#icon-right-arrow"
                ></use>
              </svg>
            </button>
          </div> -->
        </li>
      </ul>
    </div>
  </div>
</section>
