<section class="section hero__section">
  <div class="container hero__container">
    <div class="hero__decoration-circle">
      <picture class="hero__main-img animate__animated animate__bounceInRight">
        <source
          srcset="
            ./images/desktop/hero-desktop.webp    1x,
            ./images/desktop/hero-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/hero-desktop.png    1x,
            ./images/desktop/hero-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/tablet/hero-tablet.webp    1x,
            ./images/tablet/hero-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/hero-tablet.png    1x,
            ./images/tablet/hero-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/mobile/hero-mobile.webp    1x,
            ./images/mobile/hero-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/mobile/hero-mobile.png    1x,
            ./images/mobile/hero-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img
          srcset="
            ./images/desktop/hero-desktop.webp    1x,
            ./images/desktop/hero-desktop@2x.webp 2x
          "
          src="./images/tablet/hero-tablet.png"
          alt="Ice cream cone"
        />
      </picture>
    </div>

    <div class="hero__left-overlay">
      <h1
        class="heading-h2 hero__heading animate__animated animate__bounceInLeft"
      >
        ice cream made with <span class="hero__heading--accent">passion</span>
      </h1>
      <ul class="hero__btnset">
        <li class="hero__btnitem">
          <a href="#products" class="hero__btnlink"> Products </a>
        </li>
        <li class="hero__btnitem">
          <a href="#about" class="hero__btnlink hero__btnlink--light">
            How it’s made?
          </a>
        </li>
      </ul>
      <div class="hero__milkbox">
        <picture class="hero__milk-img">
          <source
            srcset="
              ./images/desktop/hero-milk-desktop.webp    1x,
              ./images/desktop/hero-milk-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/hero-milk-desktop.png    1x,
              ./images/desktop/hero-milk-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/tablet/hero-milk-tablet.webp    1x,
              ./images/tablet/hero-milk-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/hero-milk-tablet.png    1x,
              ./images/tablet/hero-milk-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <img
            class="hero__milk-img"
            srcset="
              ./images/desktop/hero-milk-desktop.webp    1x,
              ./images/desktop/hero-milk-desktop@2x.webp 2x
            "
            src="./images/tablet/hero-milk-tablet.png"
            alt="Jug of milk"
          />
        </picture>
        <div class="hero__milk-description">
          <p class="hero__milk-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="arrow-btn arrow-btn--for-hero" href="#about">
            <svg
              class="arrow-btn__icon arrow-btn__icon--for-hero"
              aria-label="Link to section about"
            >
              <use href="./images/icons.svg#icon-right-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="hero__right-overlay">
      <ul class="hero__counter-list">
        <li class="hero__counter">
          <p class="hero__numbers">16</p>
          <p class="hero__description">cafes</p>
        </li>
        <li class="hero__counter">
          <p class="hero__numbers">32</p>
          <p class="hero__description">food trucks</p>
        </li>
      </ul>
      <picture class="hero__cta-img">
        <source
          srcset="
            ./images/desktop/hero-cta-desktop.webp    1x,
            ./images/desktop/hero-cta-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/hero-cta-desktop.png    1x,
            ./images/desktop/hero-cta-desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/tablet/hero-cta-tablet.webp    1x,
            ./images/tablet/hero-cta-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/tablet/hero-cta-tablet.png    1x,
            ./images/tablet/hero-cta-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img
          class="hero__cta-img"
          srcset="
            ./images/tablet/hero-cta-tablet.webp    1x,
            ./images/tablet/hero-cta-tablet@2x.webp 2x
          "
          src="./images/tablet/hero-cta-tablet.png"
          alt="Girl likes her ice cream"
        />
      </picture>
    </div>
  </div>
</section>
