<section class="section section--pictures">
  <div class="container container--pictures">
    <div class="gallery">
      <ul class="gallery__list">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-1-mobile.png    1x,
                ./images/mobile/gallery-1-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-1-mobile.webp    1x,
                ./images/mobile/gallery-1-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-1-tablet.png    1x,
                ./images/tablet/gallery-1-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-1-tablet.webp    1x,
                ./images/tablet/gallery-1-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-1-desktop.png    1x,
                ./images/desktop/gallery-1-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-1-desktop.webp    1x,
                ./images/desktop/gallery-1-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-1-mobile.png    1x,
                ./images/mobile/gallery-1-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-1-mobile.png"
              alt="pic1"
              width="43.59"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-2-mobile.png    1x,
                ./images/mobile/gallery-2-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-2-mobile.webp    1x,
                ./images/mobile/gallery-2-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-2-tablet.png    1x,
                ./images/tablet/gallery-2-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-2-tablet.webp    1x,
                ./images/tablet/gallery-2-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-2-desktop.png    1x,
                ./images/desktop/gallery-2-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-2-desktop.webp    1x,
                ./images/desktop/gallery-2-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-2-mobile.png    1x,
                ./images/mobile/gallery-2-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-2-mobile.png"
              alt="pic2"
              width="43.59"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-3-mobile.png    1x,
                ./images/mobile/gallery-3-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-3-mobile.webp    1x,
                ./images/mobile/gallery-3-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-3-tablet.png    1x,
                ./images/tablet/gallery-3-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-3-tablet.webp    1x,
                ./images/tablet/gallery-3-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-3-desktop.png    1x,
                ./images/desktop/gallery-3-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-3-desktop.webp    1x,
                ./images/desktop/gallery-3-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-3-mobile.png    1x,
                ./images/mobile/gallery-3-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-3-mobile.png"
              alt="pic3"
              width="43.59"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-4-mobile.png    1x,
                ./images/mobile/gallery-4-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-4-mobile.webp    1x,
                ./images/mobile/gallery-4-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-4-tablet.png    1x,
                ./images/tablet/gallery-4-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="214.55"
            />
            <source
              srcset="
                ./images/tablet/gallery-4-tablet.webp    1x,
                ./images/tablet/gallery-4-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="214.55"
            />
            <source
              srcset="
                ./images/desktop/gallery-4-desktop.png    1x,
                ./images/desktop/gallery-4-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="283"
            />
            <source
              srcset="
                ./images/desktop/gallery-4-desktop.webp    1x,
                ./images/desktop/gallery-4-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="283"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-4-mobile.png    1x,
                ./images/mobile/gallery-4-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-4-mobile.png"
              alt="pic4"
              width="89.4"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-5-mobile.png    1x,
                ./images/mobile/gallery-5-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-5-mobile.webp    1x,
                ./images/mobile/gallery-5-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-5-tablet.png    1x,
                ./images/tablet/gallery-5-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-5-tablet.webp    1x,
                ./images/tablet/gallery-5-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-5-desktop.png    1x,
                ./images/desktop/gallery-5-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-5-desktop.webp    1x,
                ./images/desktop/gallery-5-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-5-mobile.png    1x,
                ./images/mobile/gallery-5-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-5-mobile.png"
              alt="pic5"
              width="43.59"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-6-mobile.png    1x,
                ./images/mobile/gallery-6-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-6-mobile.webp    1x,
                ./images/mobile/gallery-6-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-6-tablet.png    1x,
                ./images/tablet/gallery-6-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-6-tablet.webp    1x,
                ./images/tablet/gallery-6-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-6-desktop.png    1x,
                ./images/desktop/gallery-6-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-6-desktop.webp    1x,
                ./images/desktop/gallery-6-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-6-mobile.png    1x,
                ./images/mobile/gallery-6-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-6-mobile.png"
              alt="pic6"
              width="43.59"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-7-mobile.png    1x,
                ./images/mobile/gallery-7-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-7-mobile.webp    1x,
                ./images/mobile/gallery-7-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-7-tablet.png    1x,
                ./images/tablet/gallery-7-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-7-tablet.webp    1x,
                ./images/tablet/gallery-7-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-7-desktop.png    1x,
                ./images/desktop/gallery-7-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-7-desktop.webp    1x,
                ./images/desktop/gallery-7-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-7-mobile.png    1x,
                ./images/mobile/gallery-7-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-7-mobile.png"
              alt="7"
              width="43.59"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-8-mobile.png    1x,
                ./images/mobile/gallery-8-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-8-mobile.webp    1x,
                ./images/mobile/gallery-8-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-8-tablet.png    1x,
                ./images/tablet/gallery-8-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-8-tablet.webp    1x,
                ./images/tablet/gallery-8-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-8-desktop.png    1x,
                ./images/desktop/gallery-8-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-8-desktop.webp    1x,
                ./images/desktop/gallery-8-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-8-mobile.png    1x,
                ./images/mobile/gallery-8-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-8-mobile.png"
              alt="8"
              width="43.59"
            />
          </picture>
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-9-mobile.png    1x,
                ./images/mobile/gallery-9-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/mobile/gallery-9-mobile.webp    1x,
                ./images/mobile/gallery-9-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/tablet/gallery-9-tablet.png    1x,
                ./images/tablet/gallery-9-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-9-tablet.webp    1x,
                ./images/tablet/gallery-9-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-9-desktop.png    1x,
                ./images/desktop/gallery-9-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-9-desktop.webp    1x,
                ./images/desktop/gallery-9-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-9-mobile.png    1x,
                ./images/mobile/gallery-9-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-9-mobile.png"
              alt="9"
              width="43.59"
            />
          </picture>
        </li>
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/mobile/gallery-10-mobile.png    1x,
                ./images/mobile/gallery-10-mobile@x2.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
              width="44"
            />
            <source
              srcset="
                ./images/mobile/gallery-10-mobile.webp    1x,
                ./images/mobile/gallery-10-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
              width="44"
            />
            <source
              srcset="
                ./images/tablet/gallery-10-tablet.png    1x,
                ./images/tablet/gallery-10-tablet@x2.png 2x
              "
              media="(max-width: 1199px)"
              type="image/png"
              width="104.62"
            />
            <source
              srcset="
                ./images/tablet/gallery-10-tablet.webp    1x,
                ./images/tablet/gallery-10-tablet@x2.webp 2x
              "
              media="(max-width: 1199px)"
              type="image/webp"
              width="104.62"
            />
            <source
              srcset="
                ./images/desktop/gallery-10-desktop.png    1x,
                ./images/desktop/gallery-10-desktop@x2.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
              width="138"
            />
            <source
              srcset="
                ./images/desktop/gallery-10-desktop.webp    1x,
                ./images/desktop/gallery-10-desktop@x2.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
              width="138"
            />
            <img
              class="gallery__pic"
              srcset="
                ./images/mobile/gallery-10-mobile.png    1x,
                ./images/mobile/gallery-10-mobile@x2.png 2x
              "
              src="./images/mobile/gallery-10-mobile.png"
              alt="10"
              width="43.59"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
