<section class="section hero__section">
  <div class="container hero__container">
    <div class="hero__decoration-circle"></div>
    <picture class="hero__main-img">
      <source
        srcset="
          ./images/mobile/hero-mobile.webp    1x,
          ./images/mobile/hero-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/mobile/hero-mobile.png    1x,
          ./images/mobile/hero-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/tablet/hero-tablet.webp    1x,
          ./images/tablet/hero-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/tablet/hero-tablet.png    1x,
          ./images/tablet/hero-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/desktop/hero-desktop.webp    1x,
          ./images/desktop/hero-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/desktop/hero-desktop.png    1x,
          ./images/desktop/hero-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <img
        srcset="
          ./images/desktop/hero-desktop.webp    1x,
          ./images/desktop/hero-desktop@2x.webp 2x
        "
        src="./images/tablet/hero-tablet.png"
        alt="Ice cream cone"
      />
    </picture>

    <h1 class="heading-h2 heading-h1">
      ice cream made with <span class="heading-h1--accent">passion</span>
    </h1>
    <ul class="hero__btnset">
      <li class="hero__btnitem">
        <a href="#" class="hero__btnlink">
          <button class="button-dark button-dark--small">Products</button>
        </a>
      </li>
      <li class="hero__btnitem">
        <a href="#" class="hero__btnlink">
          <button class="button-light button-light--small">
            How it’s made?
          </button>
        </a>
      </li>
    </ul>
    <div class="hero__leftthumb">
      <img src="./images/tablet/hero-milk-tablet.png" alt="Jug of milk" />
    </div>
    <p class="hero__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
  <a href="#" class="hero__link-to-about">
    <span class="hero__btn-right-arrow">
      <svg class="hero__icon-right-arrow">
        <use href="./images/icons.svg#icon-right-arrow"></use>
      </svg>
    </span>
  </a>

  <ul class="hero__counters">
    <li class="hero__counter">
      <div class="hero__counterset">
        <div class="hero__small-decoration"></div>
        <span class="hero__number">16</span>
        <p class="hero_counter-description">cafes</p>
      </div>
    </li>
    <li class="hero__counter">
      <div class="hero__counterset">
        <div class="hero__small-decoration"></div>
        <span class="hero__number">23</span>
        <p class="hero_counter-description">food trucks</p>
      </div>
    </li>
  </ul>
  <img
    src="./images/tablet/hero-cta-tablet.png"
    alt="Girl say: so tasty!"
    class="hero__cta-picture"
  />
</section>
