<section class="section">
  <h2 class="visually-hidden">Adventages</h2>

  <div class="container advantages">
    <ul class="advantages__list">
      <div class="advantages__container">
        <li class="advantages__item--glass">
          <div class="advantages__number">
            <b class="heading-h2">721</b>
          </div>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>

      <div class="advantages__container">
        <li class="advantages__item--apples">
          <b class="advantages__number heading-h2">16kg</b>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
      <div class="advantages__container">
        <li class="advantages__item--heart">
          <b class="advantages__number heading-h2">84</b>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
