<section class="section section__advanteges">
  <h2 class="visually-hidden">Adventages</h2>

  <div class="container advantages">
    <ul class="advantages__list">
      <li class="advantages__item--glass">
        <b class="heading-h2 advantages__number">721</b>
        <p class="advantages__text advantages__text--glass">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item--apples">
        <b class="heading-h2 advantages__number">16kg</b>
        <p class="advantages__text advantages__text--apples">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item--heart">
        <b class="heading-h2 advantages__number">84</b>
        <p class="advantages__text advantages__text--heart">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
