.arrow-btn {
  @include positioning-flex();
  width: 40px;
  height: 40px;
  background-color: $colorWhite;
  color: $colorMain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $durationPrimary $timingPrimary,
    color $durationPrimary $timingPrimary;

  &:hover,
  &:focus {
    background-color: $bgBtnDark;
    color: $colorWhite;
  }
}

.arrow-btn__icon {
  display: block;
  width: 13px;
  height: 12px;
  fill: currentColor;
}
