.arrow-btn {
  @include positioning-flex();
  width: 40px;
  height: 40px;
  background-color: $colorWhite;
  color: $colorMain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-btn__icon {
  display: block;
  width: 13px;
  height: 12px;
  fill: currentColor;
}
