.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  color: $colorMain;
  background-color: $bgSection;
}

.footer__container {
  @media screen and (min-width: 768px) {
    @include positioning-flex(flex, space-between, center);
  }
}

.footer__content {
  margin-bottom: 40px;
  width: 234px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.footer__subtitle {
  font-family: $fontSecondary, $fontSecondaryAlternative;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;

  color: $colorOverline;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
    min-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    width: 474px;
  }
}

.footer__subtitle--append {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.footer__text {
  font-family: $fontSecondary, $fontSecondaryAlternative;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    letter-spacing: 0.06em;
    width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(66 / 58);
    width: 500px;
  }
}

.footer-social {
  @include positioning-flex(flex, flex-end, none);
  flex-direction: column;
}

.footer-social__list {
  @include positioning-flex(flex, flex-end, none);
  flex-direction: row;

  margin-bottom: 40px;
}

.footer-social__item {
  @include positioning-flex(flex, center, center);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.footer-social__link {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  fill: $colorOverline;

  transition: fill $durationSecondary $timingSecondary;

  &:hover,
  &:focus {
    fill: $colorMain;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer-social__icon {
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer-contacts {
  margin-bottom: 40px;
}

.footer-contacts__text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  text-align: right;

  color: $colorBlack;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.footer-contacts__link {
  color: $colorMain;
}

.footer-copy {
  border-top: 1px solid $colorLineInContacts;
}

.footer-copy__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  padding: 16px 70px;

  color: $colorDescription;

  @media screen and (min-width: 768px) {
    line-height: calc(26 / 14);
    padding: 8px;
  }
}
