.section__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  padding: 0;
  padding-top: 8px;
  @media screen and (min-width: 768px) {
    padding-top: 29px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 37px;
  }
}

.container__header {
  @include positioning-flex(flex, space-between);
}

.link-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 120;

  display: none;

  width: 32px;
  height: 32px;
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
    bottom: 16px;
    right: 16px;
  }
  color: $colorWhite;
  background-color: $bgBtnDark;
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: rotate(0);
  transition: transform $durationPrimary $timingPrimary;

  &:hover,
  &:focus {
    transform: rotate(-45deg);
  }
}

.icon-arrow {
  display: block;

  width: 18px;
  height: 21px;
  @media screen and (min-width: 768px) {
    width: 25px;
    height: 30px;
  }
  fill: $colorWhite;
}

.link-arrow.is-visible {
  @include positioning-flex();
}

.header__logo {
  display: block;
  width: 199px;
  height: 50px;
}

.header__rightside {
  margin-left: auto;
  @include positioning-flex();
}

.navigation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.navigation__menu {
  @include positioning-flex($jc: start);
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: $colorWhite;
}

.navigation__item {
  & + & {
    margin-left: 35px;
  }

  &:hover,
  &:focus {
    color: $colorMain;
  }
}

.navigation__item--current {
  color: $colorMain;
}

.navigation__link {
  color: inherit;
  padding: 14px 0;
}

.header__menu-btn {
  background-color: transparent;
  cursor: pointer;
}

.header__menu-mobile {
  display: block;
  width: 20px;
  height: 12px;
  flex-shrink: 0;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__menu-mobile.is-open {
  display: none;
}

.header__backdrop-menu {
  visibility: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: $bgBackDrop;
  transition: visibility $durationPrimary $timingPrimary;
}

.header__backdrop-menu.is-open {
  visibility: visible;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: 20;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  background-color: $bgMenuMobile;
  box-shadow: $shadowMenuMobile;
  transform: translateX(0);
  opacity: 0;

  transition: transform $durationSecondary $timingSecondary,
    opacity $durationSecondary $timingSecondary;
}

.header__menu.is-open {
  transform: translateX(-100%);
  opacity: 1;
}

.header__menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  display: block;
  width: 14px;
  height: 14px;
  fill: $colorWhite;
  transition: fill $durationPrimary $timingPrimary;

  &:hover,
  &:focus {
    fill: $colorMain;
  }
}

.button-light--desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: block;
  width: 160px;
  height: 44px;
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 141px;
  }
}

.button-light--menu {
  display: block;
  width: 209px;
  height: 44px;
  margin: 60px auto 19px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.navigation__header {
  text-align: left;
}

.navigation__item-mobile {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: $colorWhite;
  border-top: 1px solid $colorBorderMenu;
  border-bottom: 1px solid $colorBorderMenu;

  transition: color $durationPrimary $timingPrimary;

  &:hover,
  &:focus {
    color: $colorMain;
  }
}

.navigation__link-mobile {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: inherit;
}
