.section--pictures {
  @media screen and (max-width: 767px) {
    & {
      padding-top: 0;
      padding-bottom: 0;

      background-image: linear-gradient(
        $bgSection 0%,
        $bgSection 20%,
        $colorWhite 20%,
        $colorWhite 100%
      );
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      padding-top: 0;
      padding-bottom: 0;

      background-image: linear-gradient(
        $bgSection 0%,
        $bgSection 57%,
        $colorWhite 57%,
        $colorWhite 100%
      );
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 60px;
      padding-bottom: 60px;
      background-image: linear-gradient(
        $bgSection 0%,
        $bgSection 27%,
        $colorWhite 27%,
        $colorWhite 100%
      );
    }
  }

  .container--pictures {
    @media screen and (max-width: 1199px) {
      & {
        padding: 0;
        width: 100%;
      }
    }
  }

  .gallery__list {
    @include positioning-flex($ai: flex-start);
  }

  .gallery__item {
    position: relative;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        & {
          margin-right: 2.53px;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        & {
          margin-right: 6px;
        }
      }

      @media screen and (min-width: 1200px) {
        & {
          margin-right: 8px;
        }
      }
    }

    &:nth-child(1) {
      top: 45px;
      @media screen and (min-width: 768px) {
        top: 109px;
      }
      @media screen and (min-width: 1200px) {
        top: 142px;
      }
    }
    &:nth-child(2) {
      top: 28px;
      @media screen and (min-width: 768px) {
        top: 68px;
      }
      @media screen and (min-width: 1200px) {
        top: 89px;
      }
    }
    &:nth-child(4) {
      top: 31px;
      @media screen and (min-width: 768px) {
        top: 75px;
      }
      @media screen and (min-width: 1200px) {
        top: 99px;
      }
    }
    &:nth-child(5) {
      top: 21px;
      @media screen and (min-width: 768px) {
        top: 50px;
      }
      @media screen and (min-width: 1200px) {
        top: 66px;
      }
    }
    &:nth-child(6) {
      top: 49px;
      @media screen and (min-width: 768px) {
        top: 118px;
      }
      @media screen and (min-width: 1200px) {
        top: 155px;
      }
    }
  }

  .gallery__img {
    display: block;
    transition: transform $durationPrimary $timingPrimary;

    &:hover {
      position: relative;
      transform: scale(1.5);
      z-index: 2;
    }
  }

  .gallery__pic {
    display: block;

    @media screen and (max-width: 767px) {
      &:not(:nth-of-type(2n)) {
        margin-bottom: 2.53px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:not(:nth-of-type(2n)) {
        margin-bottom: 6px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:nth-of-type(2n)) {
        margin-bottom: 8px;
      }
    }
  }
}
