
.product__list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
      margin: -8px;
    }
}


.product__title-block {
    margin-bottom: 160px;
}


.card-product {
    margin-top: 140px;
    position: relative;
    padding-top: 160px;
    padding-bottom: 40px;
    background-color: pink;
    border-radius: 24px;

    @media screen and (min-width:768px) {
     flex-basis: calc((100% - 6 * 8px) / 3);
    margin: 8px;
    padding-top: 118px;
    }
}

.card-product--yellow {
     background-color: $bgColorBeige;
     
}

.card-product--green { 
    background-color: $bgColorGreen;
}


.card-product__title::before {
content: '';
position: absolute;
top: -140px;
background-image: url(../images/mobile/products-cream-mobile.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
  display: flex;
  width: 280px;
  height: 280px;

  @media screen and (min-width:768px) {
    background-image: url(../images/tablet/products-cream-tablet.png);
    width: 224px;
    height: 224px;}

//   border: 2px solid red;
  border-radius: 2px;
}

.card-product--yellow__title::before {
    background-image: url(../images/mobile/products-coffee-mobile.png);
   @media screen and (min-width:768px) {
    background-image: url(../images/tablet/products-coffee-tablet.png);}
}
.card-product--green__title::before{
    background-image: url(../images/mobile/products-shake-mobile.png);
    @media screen and (min-width:768px) {
    background-image: url(../images/tablet/products-shake-tablet.png);}
}



.card-product__title::after {
content: '';
background-image: url(../images/dots.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;

  display: flex;
  height: 20px;
  border: 2px solid red;
  border-radius: 2px;
  margin: 32px 0;
}

.card-product__discription { margin-bottom: 32px;}
.card-product__pre-icon { 
    display: inline-block;
    background-color: white;}

.card-product__icon {
width: 40px;
height: 40px;
}