.product__custom {
  padding: 0;
}

.product__title-block {
  margin-bottom: 148px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 281px;
  }
}

.product__title-label {
  display: block;
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.product__title {
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.product__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
  }
}

.card-product {
  background-color: $bgHeaderHero;
  border-radius: 24px;
  width: 280px;
  padding-bottom: 40px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 224px;
    margin: 8px auto;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
    margin: 16px auto;
    padding-bottom: 60px;
  }
}

.card-product + .card-product {
  @media screen and (max-width: 767px) {
    margin-top: 140px;
  }
}

.card-product--yellow {
  background-color: $bgColorBeige;
}

.card-product--green {
  background-color: $bgColorGreen;
}

.card-product__title {
  position: relative;

  padding-top: 160px;

  font-family: $fontSecondary;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorWhite;

  @media screen and (min-width: 768px) {
    padding-top: 110px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 165px;
  }
}

.card-product__title::before {
  content: '';
  position: absolute;
  bottom: 60;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-cream-mobile@2x.png);
  }

  background-image: url(../images/mobile/products-cream-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-cream-tablet@2x.png);
    }

    width: 224px;
    height: 224px;
    background-image: url(../images/tablet/products-cream-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-cream-desktop@2x.png);
    }

    width: 368px;
    height: 394px;

    background-image: url(../images/desktop/products-cream-desktop.png);
    bottom: 80px;
  }
}

.card-product--yellow__title::before {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-coffee-mobile@2x.png);
  }
  background-image: url(../images/mobile/products-coffee-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-coffee-tablet@2x.png);
    }
    background-image: url(../images/tablet/products-coffee-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-coffee-desktop@2x.png);
    }
    background-image: url(../images/desktop/products-coffee-desktop.png);
  }
}

.card-product--green__title::before {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-shake-mobile@2x.png);
  }
  background-image: url(../images/mobile/products-shake-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-shake-tablet@2x.png);
    }
    background-image: url(../images/tablet/products-shake-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-shake-desktop@2x.png);
    }
    background-image: url(../images/desktop/products-shake-desktop.png);
  }
}

.card-product__title::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  border-bottom: 6px dotted $colorWhite;
  margin: 32 auto;
}

.card-product__discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: $colorWhite;
  padding: 0 40px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    padding: 0 64px;
    margin-bottom: 60px;
  }
}

.product__button {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.card-product__pre-icon {
  display: inline-block;
  text-align: center;
}
