.product__custom {
  padding: 0;

  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
}

.product__title-label {
  display: block;
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.product__title {
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
  }
}

.product__list {
  @include positioning-flex();
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.card-product {
  width: 100%;
  padding-top: 140px;

  @media screen and (min-width: 768px) {
    width: 224px;
    padding-top: 138px;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
    padding-top: 261px;
  }

  & + & {
    @media screen and (min-width: 768px) {
      margin-left: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 32px;
    }
  }
}

.card-product .front {
  width: 100%;
  padding: 160px 40px 40px;
  @media screen and (min-width: 768px) {
    padding: 118px 32px 40px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 64px 60px;
  }
  background-color: $bgHeaderHero;
  border-radius: 24px;
}

.card-product .front--yellow {
  background-color: $bgColorBeige;
}

.card-product .front--green {
  background-color: $bgColorGreen;
}

.card-product__title {
  position: relative;
  font-family: $fontSecondary, $fontSecondaryAlternative;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $colorWhite;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.card-product__title::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: block;
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-cream-mobile@2x.png);
  }

  background-image: url(../images/mobile/products-cream-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-cream-tablet@2x.png);
    }

    top: -32px;
    width: 224px;
    height: 224px;
    background-image: url(../images/tablet/products-cream-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-cream-desktop@2x.png);
    }

    top: -32px;
    width: 368px;
    height: 394px;

    background-image: url(../images/desktop/products-cream-desktop.png);
  }
}

.card-product--yellow__title::before {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-coffee-mobile@2x.png);
  }
  background-image: url(../images/mobile/products-coffee-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-coffee-tablet@2x.png);
    }
    background-image: url(../images/tablet/products-coffee-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-coffee-desktop@2x.png);
    }
    background-image: url(../images/desktop/products-coffee-desktop.png);
  }
}

.card-product--green__title::before {
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    background-image: url(../images/mobile/products-shake-mobile@2x.png);
  }
  background-image: url(../images/mobile/products-shake-mobile.png);

  @media screen and (min-width: 768px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/tablet/products-shake-tablet@2x.png);
    }
    background-image: url(../images/tablet/products-shake-tablet.png);
  }

  @media screen and (min-width: 1200px) {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 2dppx),
      (min-resolution: 192dpi) {
      background-image: url(../images/desktop/products-shake-desktop@2x.png);
    }
    background-image: url(../images/desktop/products-shake-desktop.png);
  }
}

.card-product__title::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  border-bottom: 6px dotted $colorWhite;
  margin: 32px auto;
}

.card-product__discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: $colorWhite;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

.product__button {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.card-product__pre-icon {
  display: inline-block;
  text-align: center;
}

// #card {
//   position: relative;
//   transform-style: preserve-3d;
//   transition: transform 1s;
// }

// #card div {
//   display: block;
//   backface-visibility: hidden;
// }

// #card .back {
//   top: 0;
//   left: 0;
//   position: absolute;
//   transform: rotateY(180deg);
// }

// #card.flipped {
//   transform: rotateY(180deg);
// }

// #yellowcard {
//   position: relative;
//   transform-style: preserve-3d;
//   transition: transform 1s;
// }

// #yellowcard div {
//   display: block;
//   backface-visibility: hidden;
// }

// #yellowcard .back {
//   top: 0;
//   left: 0;
//   position: absolute;
//   transform: rotateY(180deg);
// }

// #yellowcard.flipped {
//   transform: rotateY(180deg);
// }

// #greencard {
//   position: relative;
//   transform-style: preserve-3d;
//   transition: transform 1s;
// }

// #greencard div {
//   display: block;
//   backface-visibility: hidden;
// }

// #greencard .back {
//   top: 0;
//   left: 0;
//   position: absolute;
//   transform: rotateY(180deg);
// }

// #greencard.flipped {
//   transform: rotateY(180deg);
// }

// .red-text {
//   color: $colorMain;
// }

// .card-product__title--reddots:after {
//   content: '';
//   display: block;
//   width: 26px;
//   height: 6px;
//   border-bottom: 6px dotted $colorMain;
//   margin: 32 auto;
// }

// .back-flips {
//   transform: rotateY(180deg);
// }

// .yellow-text {
//   color: #eb8a3e;
// }

// .card-product__title--yellowdots:after {
//   content: '';
//   display: block;
//   width: 26px;
//   height: 6px;
//   border-bottom: 6px dotted #eb8a3e;
//   margin: 32 auto;
// }

// .green-text {
//   color: #5b7065;
// }

// .card-product__title--greendots:after {
//   content: '';
//   display: block;
//   width: 26px;
//   height: 6px;
//   border-bottom: 6px dotted #5b7065;
//   margin: 32 auto;
// }
