.contacts__section {
  padding-top: 0;
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    padding-top: 0;
  }

  background: $bgSection;
  background-image: linear-gradient(
    $colorWhite 0%,
    $colorWhite 24%,
    $bgSection 24%,
    $bgSection 100%
  );
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 20px;
    background-image: linear-gradient(
      $colorWhite 0%,
      $colorWhite 46%,
      $bgSection 46%,
      $bgSection 100%
    );
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
    padding-top: 60px;
    background-image: linear-gradient(
      $colorWhite 0%,
      $colorWhite 22%,
      $bgSection 22%,
      $bgSection 100%
    );
  }
}

.contacts__container {
  @include positioning-flex();
  flex-direction: column;
}

.contacts__list {
  @media screen and (min-width: 768px) {
    @include positioning-flex();
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.86;
  text-align: left;
  padding: 40px 32px;
  background: $bgPage;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    flex-basis: calc((100% - 64px) / 3);
    margin-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    padding: 40px 40px;
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 767px) {
      margin-right: 0;
    }
  }
}

.contacts__category {
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $colorWhite;
  background: $bgColorBeige;
  border-radius: 6px;
  width: 80px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  &--bgcolor {
    background: $bgColorGreen;
    width: 130px;
  }
}

.contacts__title {
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}

.contacts__description {
  line-height: 1.5;

  color: $colorDescription;
}

.contacts__timetable {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $colorLineInContacts;
  border-bottom: 1px solid $colorLineInContacts;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__time:first-child {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.contacts__day-time {
  text-transform: uppercase;
  color: $colorOverline;
}

.contacts__item-communication {
  line-height: 1.5;
  color: $colorDescription;
}

.contacts__btn-set {
  @media screen and (min-width: 768px) {
    display: flex;
    @include positioning-flex;
    margin-top: 60px;
  }
}

.contacts__btn-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    @include positioning-flex();
    margin-right: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}
.contacts__btn-item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}

.contacts__btn {
  min-width: 161px;
  height: 44px;
  @media screen and (min-width: 768px) {
    min-width: 191px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 198px;
  }
}

.contacts__button-icon {
  display: block;
  width: 8px;
  height: 10px;
}
