.section__advanteges {
  background-color: $bgSection;

  padding-top: 40px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantages {
  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.advantages__item--glass {
  @include positioning-flex(flex, start, stretch);
  flex-direction: column;
  transition: transform $durationPrimary $timingPrimary;

  width: 230px;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 4px;
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 115px;
    width: 288px;

    &:hover {
      position: relative;
      @media screen and (min-width: 768px) {
        transform: translateX(50px) scale(1.5);
        z-index: 2;
      }
    }
  }

  &::before {
    content: '';
    width: 33px;
    height: 50px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(/src/images/common/glass.png);
  }
}

.advantages__item--apples {
  @include positioning-flex(flex, start, stretch);
  flex-direction: column;
  transition: transform $durationPrimary $timingPrimary;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 22px;
    width: 162px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 80px;
    width: 317px;

    &:hover {
      position: relative;
      @media screen and (min-width: 768px) {
        transform: translateX(50px) scale(1.5);
        z-index: 2;
      }
    }
  }

  &::before {
    content: ' ';
    width: 50px;
    height: 50px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(/src/images/common/apples.png);
  }
}

.advantages__item--heart {
  @include positioning-flex(flex, start, stretch);
  flex-direction: column;
  transition: transform $durationPrimary $timingPrimary;

  @media screen and (min-width: 768px) {
    width: 159px;
  }
  @media screen and (min-width: 1200px) {
    width: 288px;

    &:hover {
      position: relative;
      @media screen and (min-width: 768px) {
        transform: translateX(50px) scale(1.5);
        z-index: 2;
      }
    }
  }

  &::before {
    content: ' ';
    width: 44px;
    height: 50px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(/src/images/common/heart.png);
  }
}

.advantages__number {
  margin-bottom: 4px;
  text-align: left;
}

.advantages__text {
  display: block;
  flex-shrink: 0;
  font-family: $fontMain, $fontMainAlternative;
  color: $colorBlack;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: left;
  letter-spacing: normal;
  width: 230px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
    letter-spacing: normal;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.advantages__text--glass {
  @media screen and (min-width: 768px) {
    width: 180px;
  }

  @media screen and (min-width: 1200px) {
    width: 288px;
  }
}

.advantages__text--apples {
  @media screen and (min-width: 768px) {
    width: 162px;
  }

  @media screen and (min-width: 1200px) {
    width: 317px;
  }
}

.advantages__text--heart {
  @media screen and (min-width: 768px) {
    width: 159px;
  }

  @media screen and (min-width: 1200px) {
    width: 288px;
  }
}
